<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:jdbc="http://www.springframework.org/schema/jdbc"
  xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
  xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
  
  <context:annotation-config />

  <context:component-scan base-package="src">
    <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
    <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
    <context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
  </context:component-scan>

  <!-- oracle datasource -->
  <bean id="oracleDatasource" class="oracle.jdbc.pool.OracleDataSource"
    destroy-method="close">

    <property name="URL" value="jdbc:oracle:thin:@192.168.219.105:1521:xe" />
    <property name="user" value="hr" />
    <property name="password" value="hr" />

    <property name="connectionCachingEnabled" value="true" />
    <qualifier value="main-db" />
  </bean>


  <!-- MyBatis SqlSessionFactoryBean -->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="oracleDatasource" />
    <property name="configLocation" value="WEB-INF/configuration.xml" />
  </bean>

  <!-- MyBatis SqlSessionTemplate -->
  <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
    <constructor-arg index="0" ref="sqlSessionFactory" />
  </bean>
  
  <context:component-scan base-package="Admin" />
	<context:component-scan base-package="Board1" />
	<context:component-scan base-package="Board2" />
	<context:component-scan base-package="Board3" />
	<context:component-scan base-package="Board4" />
	<context:component-scan base-package="Community" />
	<context:component-scan base-package="Food" />
	<context:component-scan base-package="Game" />
	<context:component-scan base-package="Main" />
	<context:component-scan base-package="Map" />
	<context:component-scan base-package="Mypage" />
	<context:component-scan base-package="Sign" />
	
	 
	<bean id="ModelAndView" class="org.springframework.web.servlet.ModelAndView"/>
	<bean id="MemberDao" class="Member.MemberDao"/>
	<bean id="CDao" class="Food.CDao"/>

</beans>
