<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>BoardCa</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>UserRegisterServlet</servlet-name>
		<servlet-class>user.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegisterServlet</servlet-name>
		<url-pattern>/userRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRegisterCheckServlet</servlet-name>
		<servlet-class>user.UserRegisterCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegisterCheckServlet</servlet-name>
		<url-pattern>/userRegisterCheck</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ChatSubmitServlet</servlet-name>
		<servlet-class>chat.ChatSubmitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatSubmitServlet</servlet-name>
		<url-pattern>/chatSubmitServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChatListServlet</servlet-name>
		<servlet-class>chat.ChatListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatListServlet</servlet-name>
		<url-pattern>/chatListServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>user.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/userLogin</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>ChatUnreadServlet</servlet-name>
		<servlet-class>chat.ChatUnreadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatUnreadServlet</servlet-name>
		<url-pattern>/chatUnread</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChatBoxServlet</servlet-name>
		<servlet-class>chat.ChatBoxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChatBoxServlet</servlet-name>
		<url-pattern>/chatBox</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>

		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>

	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/applicationContext.xml
			</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>
	</error-page>

</web-app>